body{
    background-image: url("image8.png");
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
    padding:none;
    background-color:none;
    }
#container fieldset {
 padding:20px 20px 200px 50px;
 margin: auto;
 margin-top: 10%;
 height: 290px;
 border:2px solid ;
 background-color: white;
width: 25%;
 }
 legend {
    color:black;
    font-weight:bold
    }
    input{

        margin-bottom:20%;
   }
   input[type=submit] {
    width:100px;
    margin-left:5px;; 
    box-shadow:1px 3px 1px #D83F3D;
    cursor:pointer;
    }
    .password + .unmask {
        position:absolute;
        right: 68px; top: 7px;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
        background: #aaa;
        border-radius: 50%;
      }
      .password + .unmask:before {
        content: "";
        position:absolute;
        top:4px; left:4px;
        z-index:1;
        width: 17px;
        height: 17px;
        background: #e3e3e3;
        border-radius: 50%;
      }
      .password[type="text"] + .unmask:after {
        content: "";
        position:absolute;
        top:6px; left:6px
        z-index:2;
        width: 13px;
        height: 13px;
        background: #aaa;
        border-radius: 50%;
      }
/* Bordered form */

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */


/* Set a style for all buttons */

input[type=submit]:hover {
    background-color: rgb(248, 245, 245);
   
}